*{
    margin: 0px; padding: 0px;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form2{
    background-color: coral;
    padding: 50px;
    width: 35%;
    border-radius: 20px;
}

.form2 h2{
    padding: 10px ;
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;

}

.log{
    display: flex; 
    flex-direction: column;
    margin-bottom: 30px;
}

.log label{
    padding-bottom: 8px;
    font-size: 23px;
}

.log input{
    font-size: 20px;
    padding: 7px;
    border: none;
    outline: none;
}

button{
    /* text-align: center; */
   
    padding: 8px 20px ;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    outline: none;
    border: none;

}

.btn-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a2 a{
    text-decoration: none;
    font-size: 19px;
    padding-left: 20px;
    color: white;
    
}