body{
    background-color: rgb(240, 229, 229);
    width: 100%;
    display: flex;  
    gap:  20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.first-div{
    background-color: burlywood;
    width: 50%;
    height: 100vh;
    padding: 20px;
    
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}


input{
    display: flex;
    outline: none;
    border: none;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
label{
    font-size: 25px;
    cursor: pointer;
   }

h2{
    text-align: center;
    font-size:40px ;
    color: blue;
}
/* ----------------------------------------------------------- */

.second-div{
    /* display: flex; */
    /* justify-content: center; */
    background-color: aqua;
    width: 50%;
    
}
.outer-div input{
    width: 100%;
    margin-bottom: 19px;
    padding: 4px;
    margin-top: 5px;
}

.outer-div{
    background-color: blue;
    width: 350px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}
.main-div div{
    display: flex;
    justify-content: space-between;

}
button{
   font-size: 30px;
   padding: 10px;
   height: 55px;
   width: 55px;
   gap: 9px;
   margin-bottom: 15px;
   outline: none;
   border: none;
   border-radius:7px;
   cursor: pointer;

}
h3{
    text-align: center;
    font-size: 26px;
    font-weight: 20px;
}

