body{
    background-color: rgb(253, 251, 251);
    width: 100%;
    display: flex;
    gap:  20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-div{
    background-color: burlywood;
    width: 50%;
    height: 100vh;
    padding: 20px;
    
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.second-div{
    background-color: greenyellow;
    width: 50%;
    height: 100vh;
}
input{
    display: flex;
    outline: none;
    border: none;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
label{
    font-size: 25px;
    cursor: pointer;
   }

h2{
    text-align: center;
    font-size:40px ;
    color: blue;
}


    
    

